doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/fontawesome/css/all.css')
    script(src='/javascripts/script.js')
  body
    nav 
      a(href="/") Homepage
      a(href="/bauturi") Bauturi 
      a(href="/brutarie-si-patiserie") Brutarie si Patiserie 
      a(href="/carne-si-peste") Carne si Peste 
      a(href="/fructe-si-legume") Fructe si Legume 
      a(href="/lactate-si-branzeturi") Lactate si Branzeturi 
      a(href="/mezeluri-si-readymeals") Mezeluri si Ready Meals 
      a(href="/conserve") Conserve 
      a(href="/dulciuri-si-micdejun") Dulciuri si Micdejun
    block content
